@font-face {
  font-family: "lobster";
  src: url("/lobstertwo-regular-webfont.woff2") format("woff2"), url("/lobstertwo-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "lobster";
  src: url("/lobstertwo-bold-webfont.woff2") format("woff2"), url("/lobstertwo-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: lobster;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 2px;
}
/* general */
.square {
  height: 5rem;
  width: 5rem;
  position: relative;
}
.square.rotated {
  transform: rotate(180deg);
}
.file {
  display: flex;
  flex-direction: column;
}
.table {
  display: flex;
  border: solid 2px black;
  box-shadow: 0px 0px 56px 15px rgba(0, 0, 0, 0.75);
}
.table.rotated {
  transform: rotate(180deg);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: rgba(50, 50, 50, 0.5); */

  background-image: url("/gray-painted-background-min.webp");
  background-size: cover;
}
.white {
  background-color: #bfbfbf;
}
.black {
  background-color: #3a3a3a;
}
.highlight::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.45);
  background-color: rgb(240, 240, 240);
  z-index: 2;
}
.attacked::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 0, 0, 0.35);
}

img {
  position: relative;
  z-index: 100;
}
.full-screen-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promoting-pieces-container {
  height: 200px;
}
.promoting-pieces-container button {
  height: 100%;
  width: 200px;
  margin: 0 10px;
}
.table-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  min-height: 100%;
  justify-content: flex-start;
}
.table-buttons button {
  width: 200px;
  height: 50px;
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 1.3rem;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 10px;
  margin: 10px 0;
}
.home-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
}
.home-button-container button {
  background-color: transparent;
  border: solid 5px black;
  padding: 8px;
  border-radius: 50%;
  filter: invert(1);
  cursor: pointer;
}
.fen-container {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #3a3a3a;
  color: white;
  top: 50%;
  left: 0;
  z-index: 999;
  transform: translateY(-50%);
  padding: 0 20px;
}
.fen-container p {
  text-align: center;
  font-size: 2.5rem;
}
.fen-container div {
  position: relative;
  top: 40%;
  transform: translate(0%, -50%);
}
.fen-container button {
  position: absolute;
  right: 40px;
  top: 20px;
  background-color: transparent;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  border: solid 5px white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
@media (max-width: 960px) {
  .container {
    flex-direction: column;
  }
  .table-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    margin-top: 5%;
  }
  .table-buttons button {
    margin-left: 0;

    width: 200px;
    height: 30px;
    font-size: 1rem;
  }
  .square {
    width: 3rem;
    height: 3rem;
  }
  .square img {
    width: 100%;
    height: 100%;
  }
  .highlight::after {
    width: 10px;
    height: 10px;
  }
  .fen-container p {
    text-align: center;
    font-size: 1.5rem;
  }
  .fen-container {
    height: 200px;
  }
  .fen-container button {
    top: 10px;
    right: 10px;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border: solid 3px white;
  }
}
@media (max-width: 768px) {
  .square {
    width: 2rem;
    height: 2rem;
  }
  .fen-container p {
    text-align: center;
    font-size: 0.5rem;
  }
}

/* homepage */

.homepage-nav li {
  list-style: none;
}
.homepage-nav {
  width: 300px;
}
.homepage-container {
  display: flex;
  background-color: rgb(190, 190, 190);
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}
.homepage-nav button {
  width: 100%;
  height: 50px;
  background-color: rgb(70, 70, 70);

  color: white;
  font-size: 1.6rem;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}
.homepage-nav button:hover {
  background-color: rgb(60, 60, 60);
}
.homepage-title {
  font-size: 6rem;
  margin-bottom: 3rem;
  margin-top: 8rem;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
