.square {
  height: 1rem;
  width: 1rem;
  border: solid 1px black;
  flex: 1;
}
.file {
  width: 1rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
}
.table {
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
}
